@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans TC','Montserrat';
  font-style: normal;
  color: #171725;
}

.cursor-pointer {
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 68px;
  line-height: 78px;
}

h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
}

h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 26px;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}

h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.fz-base {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.fz-base-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.fz-sm {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.fz-sm-bold {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.fz-xs {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.fz-xs-bold {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

a:hover {
  text-decoration: none;
}

.active {
  color: #FF6600;
}

.text-secondary {
  color: #6C757D;
}

.dark-20 {
  background-color: #FAFAFB;
}

.dark-100 {
  color: #171725;
}