.tweet-btn {
  padding: 8px 24px; 
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  border-radius: 50px;
  color: #FFFFFF;
  background: #FF6600;
}

.tweet-sm-btn {
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: #FF6600;
  border-radius: 50px;
  color: #FFFFFF;
}

.following-btn {
  padding: 8px 14px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: #FF6600;
  border-radius: 50px;
  color: #FFFFFF;
}

.follow-btn {
  padding: 8px 16px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #FF6600;
  background: #FFFFFF;
  border-radius: 50px;
  color: #FF6600;
  transition: all .3s;
  &:hover {
    color: #FFFFFF;
    background: #FF6600;
  }
}

.btn-brand {
  transition: all .3s;
  &:hover {
    color: #FFFFFF;
    background: #FF974A;     
  }
}

.reply-icon,
.like-icon {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #6C757D;
}

.reply-btn {
  padding-top: 12px;
  padding-bottom: 12px;
  .btn:nth-child(1) {
    margin-right: 102px;
  }
}