.input-container {
  border-top: 1px solid #E6ECF0;
  border-bottom: 10px solid #E6ECF0;
}

.main-border {
  border-left: 1px solid #E6ECF0;
  border-right: 1px solid #E6ECF0;
}

.list-group-flush > .list-group-item:last-child {
    border-bottom-width: thin;
    border-color: #E6ECF0;
}

