.input-border {
  border-top: 1px solid var(--border-gray);
  border-bottom: 10px solid var(--border-gray);
}

.main-container {
  width: 641px;
  border-left: 1px solid var(--border-gray);
  border-right: 1px solid var(--border-gray);
}

.border-y-container {
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
}

.list-group-flush > .list-group-item {
  border-bottom-width: thin;
  border-color: var(--border-gray);
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: thin;
  border-color: var(--border-gray);
}

.nav-container {
  width: 178px;
  height: 100vh;
}

.modal-backdrop.show {
  opacity: 0.2;
}
.modal-dialog {
  max-width: 634px;
  top: 25px;
  right: 55px;
}
.modal-content {
  border-radius: 14px;
}
