.list-group-flush > .list-group-item {
  border-bottom-width: thin;
  border-color: #E6ECF0;
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: thin;
  border-color: #E6ECF0;
}

.list-group-item a:hover {
  color: #171725;
  text-decoration: underline;
}