// border
.input-border {
  border-top: 1px solid var(--border-gray);
  border-bottom: 10px solid var(--border-gray);
}

.main-container {
  width: 641px;
  border-left: 1px solid var(--border-gray);
  border-right: 1px solid var(--border-gray);
}

.border-y-container {
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
}

.list-group-flush > .list-group-item {
  border-bottom-width: thin;
  border-color: var(--border-gray);
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: thin;
  border-color: var(--border-gray);
}

.nav-container {
  width: 178px;
  height: 100vh;
}

// modal
.modal-backdrop.show {
  opacity: 0.2;
}

.modal-dialog {
  max-width: 634px;
  top: 23px;
  right: 60px;

  @media (max-width: 1199px) {
    max-width: 490px;
    right: 77px;
  }

  .modal-content {
    border-radius: 14px;
  }
}

.modal-body {
  height: 187px;

  .form-control {
    padding: 1rem 0 0 0;
    height: 187px;
    resize: none; 
    border: 0;

    &:focus {
      box-shadow: none;
    }

    @media (max-width: 1199px) {
      height: 160px;
    }
  }
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6c757d;
}

.modal-footer {
  border-top: 0;
}

// tab
.nav-tabs {
  .nav-item {
    flex: none;

    &:nth-child(3) {
      .nav-link {
        padding-left: 28px;
        padding-right: 28px;
      }
    }
    .nav-link {
      padding: 15px 50px;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      border: 0;
      color: var(--main-gray);
      background-color: transparent;

      &.active {
        border: 0;
        color: var(--main);
        border-bottom: 2px solid var(--main);
      }
    }
  }
}

.tab-content {
  .card-text {
    color: var(--dark-100);
  }
}
