.userPageContainer {
  height: 100vh;
  display: flex;
  padding: 0 10%;
  overflow-y: scroll;
  .userPageMain {
    flex: 0.9;
    border-right: 1px solid #e6ecf0;
    .userPageMain__title {
      padding: 24px 0 24px 20px;
      border-bottom: 1px solid #e6ecf0;
      font-size: 24px;
      font-weight: 700;
    }
    .userPageMain__items {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      padding: 1rem;
    }
  }
}
