.navbarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
  padding: 10px;
}

.navbarOption__title {
  font-weight: 700;
  font-size: 18px;
  padding-left: 1rem;
}

.navbarOption__title_active {
  @extend .navbarOption__title;
  color: #ff6600;
}
