.tweetItem {
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  padding: 1rem;
  width: 100%;
  // border: 1px red solid;
  align-items: flex-start;
  .tweetItem__image {
    margin: 0 8px;
  }
  .tweetItem__crossBtn {
    cursor: pointer;
    color: #696974;
  }
  .tweetItem__content {
    .tweetItem__content__userInfo {
      margin-bottom: 8px;
      .tweetItem__content__userInfo_name {
        font-size: 1rem;
        font-weight: 700;
        margin-right: 8px;
      }
      .tweetItem__content__userInfo_detail {
        color: #6c757d;
        font-size: 14px;
      }
    }
  }
}
