.modalContainer {
  // background-color: #fff;
}

.modal-content {
  border: 1px red solid;
}

.editProfile_header {
  width: 100%;
  display: flex;
  align-items: center;
  .editProfile__closeBtn_Container {
    display: flex;
    align-items: center;
    .editProfile__closeBtn {
      margin-right: 37px;
    }
  }
  .editProfile__title {
    font-size: 18px;
    font-weight: 700;
  }
  .editProfile__save {
    border: none;
    background-color: #ff6600;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    padding: 8px 16px;
    margin-left: auto;
  }
}

.editProfile_body {
  padding: 0;
  height: auto;
  position: relative;
  .editProfile_body_photo {
    margin-bottom: 80px;
    position: relative;
    // border: 1px red solid;
    .ditProfile_body_defaultBg {
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
    }
    .editProfile_body_bg {
      object-fit: cover;
      width: 100%;
      overflow: hidden;
    }
    .editProfile_body_avatarContainer {
      .black {
        background: rgb(0, 0, 0);
        position: absolute;
        left: 1rem;
        top: 60%;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        overflow: hidden;
        .camera {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 10;
          cursor: pointer;
        }
      }
      .editProfile_body_avatar {
        position: absolute;
        left: 1rem;
        top: 60%;
        z-index: 10;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        overflow: hidden;
        opacity: 0.6;
      }
    }

    .editProfile_body_icons {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 2rem;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      .editProfile_camera,
      .editProfile_delete {
        cursor: pointer;
      }
    }
  }
  .editProfile_body_inputs {
    padding: 1rem;
    background-color: #fff;
  }
}
